@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;600;800;900');

* { font-size: 14px;  font-family: 'Albert Sans', sans-serif;}
h1, h2 {

  text-align: center; 
}
h1 {font-size:3em}
h2 {font-size:1.8em}
ul, a {
  list-style-type: none;
  text-decoration:none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
imagen {border-radius: 50px;}
li {
  width: 250px;
  background: #f4f4f4;
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  margin: 20px;
}
img{ 
  min-width: 250px;
}
